{% extends "::base.html.twig" %}
{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
{% endblock %}


{% block body -%}

    <h4>Modifiez</h4>
    <form action="{{path('edit_contrat_user')}}" method="POST"> 


        <table>   
           <tr height="50">


            <div class="col-sm-4">                     
                <td> <label for="exampleSelect1">id epoux</label></td>
                <td>{{ form_widget(form.id_epoux, {'attr': {'class':'form-control'}}) }}</td>


            </div>  
        </tr><tr height="50">
            <tr height="50">


            <div class="col-sm-4">                     
                <td> <label for="exampleSelect1">id_epouse</label></td>
                <td>{{ form_widget(form.id_epouse, {'attr': {'class':'form-control'}}) }}</td>


            </div>  
        </tr><tr height="50">

    <div class="col-sm-4">

        <td>  <label>la date de mariage</label></td>
        <td>     <div class='input-group date' id='datetimepicker1'>
                {{ form_widget(form.date_mariage, {'attr': {'class':'form-control'}}) }}

                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </td>
    </div>

    </tr>


   



</table>   
<table><tr height="50">
    <fieldset class="form-group"><td>
            <label> Nom:</label></td>
        <td>  <input type="text" class="form-control"  value="{{user.nom}}" disabled="true" ></td>
    </fieldset></tr>    

    <tr height="50">
    <fieldset class="form-group"><td>
            <label> Prenom:</label></td>
        <td>  <input type="text" class="form-control"  value="{{user.prenom}}" disabled="true" ></td>
    </fieldset></tr>  

    <tr height="50">
    <fieldset class="form-group"><td>
            <label>Date de naissance:</label></td>
        <td>  <input type="text" class="form-control"  value="{{user.dateNaissance|date('Y-m-d')}}" disabled="true" ></td>
    </fieldset></tr>  
    <tr height="50">
    <fieldset class="form-group"><td>
            <label> Lieu de naissance:</label></td>
        <td>  <input type="text" class="form-control"  value="{{user.lieuNaissance}}" disabled="true" ></td>
    </fieldset></tr>  

    <tr height="50">
    <fieldset class="form-group"><td>
            <label> Adresse:</label></td>
        <td>  <input type="text" class="form-control"  value="{{user.adresse}}" disabled="true" ></td>
    </fieldset></tr>  
    <tr height="50">
    <fieldset class="form-group"><td>
            <label> Num cin :</label></td>
        <td>  <input type="text" class="form-control"  value="{{user.numCin}}" disabled="true" ></td>
    </fieldset></tr></table>  







<input type="hidden" id="egov_userbundle_contratmariage__token" name="egov_userbundle_contratmariage[_token]" value="{{ csrf_token('egov_userbundle_contratmariage') }}" /> 




<button class="btn btn-primary" type="submit">Valider modification</button>
</form>
</div>
{% endblock %}