<html lang="en" class="js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <head>
        <!-- Meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <!-- Title-->
        <title>PiDEV  |  E-GOV</title>
        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('ico1/apple-touch-icon-144-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('ico1/apple-touch-icon-114-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('ico1/apple-touch-icon-72-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" href="{{asset('ico1/apple-touch-icon-57-precomposed.png')}}">
        <link rel="shortcut icon" href="{{asset('ico1/favicon.ico')}}">
        <!-- CSS Stylesheet-->
        <link type="text/css" rel="stylesheet" href="{{asset('css1/bootstrap/bootstrap.min.css')}}" />
        <link type="text/css" rel="stylesheet" href="{{asset('css1/bootstrap/bootstrap-themes.css')}}" />
        <link type="text/css" rel="stylesheet" href="{{asset('css1/style.css')}}" />

        <style>
 #main ,.tab-content{
	 z-index:auto;
	 }
</style>

</head>

        </style></head>
    <body style=""><nav id="menu" class="mm-menu mm-horizontal mm-ismenu mm-hassearch"><div class="mm-search"><input placeholder="Search" type="text" autocomplete="off"></div><ul class="mm-list mm-panel mm-opened mm-current" id="mm-m1-p0">
						<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p1"></a><span><i class="icon  fa fa-laptop"></i> Dashboard</span>
								
						</li>
						<li><a href="front/index.html"><i class="icon  fa fa-rocket"></i> Front End </a></li>
						<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p2"></a><span><i class="icon  fa fa-th-list"></i> Layout</span>
								
						</li>
						<li><a href="mailBox.html"><i class="icon  fa fa-inbox"></i> Mail</a></li>
						<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p3"></a><span><i class="icon  fa fa-briefcase"></i> UI Element</span>
								
						</li>
						<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p4"></a><span><i class="icon  fa fa-bar-chart-o"></i> Chart </span>
								
						</li>
						<li><a href="calendar.html"><i class="icon  fa fa-calendar-o"></i> Calendar </a></li>
						<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p5"></a><span><i class="icon  fa fa-align-right"></i>Off  Canvas  Menu</span>
								
						</li>
						<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p8"></a><span><i class="icon  fa fa-clipboard"></i> From</span>
								
						</li>
						<li><a href="fileManager.html"><i class="icon  fa fa-file-text"></i> File Manager </a></li>
						<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p9"></a><span><i class="icon  fa fa-fire"></i> Table</span>
								
						</li>
						<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p10"></a><span><i class="icon  fa fa-folder-open-o"></i> Other Page</span>
								
						</li>
						<li><a href="map.html"><i class="icon  fa fa-map-marker"></i> Maps</a></li>
						<li><a href="404.html"><i class="icon  fa fa-exclamation-triangle"></i> Error Pages</a></li>
						<li><a href="siteMap.html"><i class="icon  fa fa-sitemap"></i>Site Map</a></li>
				<li class="mm-noresults">No results found.</li></ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p1"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p0"> Dashboard</a></li>
										<li><a href="dashboard.html"><i class="icon  fa fa-rocket"></i> First Design </a></li>
										<li><a href="dashboard2.html"><i class="icon  fa fa-th"></i> Dashboard New </a></li>
								</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p2"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p0"> Layout</a></li>
										<li class="label-lg mm-label">Main Layout</li>
										<li><a href="alwayMenu.html"> Alway Left  Menu </a></li>
										<li><a href="hideUserPanel.html"> Hide User Panel </a></li>
										<li><a href="hideUserPanelIn.html"> Show &amp; Hide</a></li>
										<li class="label-lg mm-label">Other Layout</li>
										<li><a href="topMenu.html"> Top Menu</a></li>
										<li><a href="footerShow.html"> Footer Show</a></li>
										<li><a href="footerMenu.html"> Footer with menu</a></li>
								</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p3"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p0"> UI Element</a></li>
										<li><a href="ui.html"> UI </a></li>
										<li><a href="ui_button.html"> Button </a></li>
										<li><a href="ui_icon.html"> Fonts Icon</a></li>
										<li><a href="ui_slide.html"> Slide</a></li>
										<li><a href="ui_modal.html"> Modal</a></li>
										<li><a href="ui_panel.html"> Panel</a></li>
										<li><a href="ui_alert.html"> Alert</a></li>
										<li><a href="ui_typography.html"> Typography</a></li>
										<li><a href="ui_nestable.html"> Nestable</a></li>
								</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p4"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p0"> Chart </a></li>
										<li><a href="chartFlot.html"> Flot Chart</a></li>
										<li><a href="chartMorris.html"> Morris Chart</a></li>
										<li><a href="chartOther.html"> Other Chart</a></li>
								</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p5"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p0">Off  Canvas  Menu</a></li>
										<li><a href="menu.html"> Position </a></li>
										<li><a href="menuOpen.html"> Touch to open</a></li>
										<li><a href="menuVertical.html"> Vertical Level</a></li>
										<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p6"></a><span> Unlimited Level </span>
												
										</li>
								</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p6"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p5"> Unlimited Level </a></li>
														<li><a href="#"> Level 3 </a></li>
														<li><a href="#"> Level 3 </a></li>
														<li><a class="mm-subopen mm-fullsubopen" href="#mm-m1-p7"></a><span> Level 4</span>
																
														</li>
												</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p7"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p6"> Level 4</a></li>
																		<li><a href="#"> Level 4 </a></li>
																		<li><a href="#"> Level 4 </a></li>
																</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p8"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p0"> From</a></li>
										<li><a href="form.html">Form Basic</a></li>
										<li><a href="formComponents.html">Form Components</a></li>
										<li><a href="formValidate.html">Form Validate</a></li>
										<li><a href="formWizard.html">Form Wizard</a></li>
										<li><a href="formMutiselect.html">Form Mutiseletion</a></li>
										<li><a href="form_x_edit.html">Form x-edit</a></li>
										<li><a href="drop_upload.html">Drop Upload</a></li>
								</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p9"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p0"> Table</a></li>
										<li><a href="table.html">Table Basic</a></li>
										<li><a href="tableResponsive.html">Table Responsive</a></li>
										<li><a href="tableDynamic.html">Data Table</a></li>
								</ul><ul class="mm-list mm-panel mm-hidden" id="mm-m1-p10"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m1-p0"> Other Page</a></li>
										<li><a href="login.html"> login </a></li>
										<li><a href="lockscreen.html"> Lockscreen </a></li>
										<li><a href="images_manager.html"> Images Manager</a></li>
										<li><a href="gallery.html"> Gallery</a></li>
										<li><a href="timeline.html"> Timeline</a></li>
										<li><a href="profile.html"> Profile</a></li>
										<li><a href="blankPage.html"> Blank Page</a></li>
										<li><a href="page_invoice.html"> Invoice</a></li>
										<li><a href="page_search.html"> Search result</a></li>
										<li><a href="pages_pricing.html"> Pricing Table</a></li>
										<li><a href="register.html"> Register</a></li>
										<li><a href="page_chat.html"> Full Chat</a></li>
								</ul></nav><nav id="menu-right" class="mm-menu mm-horizontal mm-ismenu mm-right mm-hassearch"><div class="mm-search"><input placeholder="Search" type="text" autocomplete="off"></div><ul class="mm-list mm-panel mm-opened mm-current" id="mm-m0-p0">
						<li class="label-lg mm-label">Theme color</li>
						<li>
							<span class="text-center">
								<div id="style1" class="color-themes col1"></div>
								<div id="style2" class="color-themes col2"></div>
								<div id="style3" class="color-themes col3"></div>
								<div id="style4" class="color-themes col4"></div>
								<div id="none" class="color-themes col5"></div>
							</span>
						</li>
						<li class="label-lg mm-label">Contact Group</li>
						<li data-counter-color="theme">
								<em class="mm-counter" style="color: rgb(255, 255, 255); background-color: rgb(243, 89, 88);">12</em><a class="mm-subopen mm-fullsubopen" href="#mm-m0-p1"></a><span><i class="icon fa fa-smile-o"></i> Friends</span>
								
						</li>
						<li>
								<em class="mm-counter">10</em><a class="mm-subopen mm-fullsubopen" href="#mm-m0-p2"></a><span><i class="icon  fa fa-home"></i> Family</span>
								
						</li>
						<li data-counter-color="theme-inverse">
								<em class="mm-counter" style="color: rgb(255, 255, 255); background-color: rgb(10, 166, 153);">8</em><a class="mm-subopen mm-fullsubopen" href="#mm-m0-p3"></a><span><i class="icon  fa fa-briefcase"></i> Work colleagues</span>
								
						</li>
						<li class="label-lg mm-label">Total week Earnings</li>
						<li>
								<em class="mm-counter">6</em><a class="mm-subopen mm-fullsubopen" href="#mm-m0-p4"></a><span><i class="icon  fa fa-bar-chart-o"></i> See This week</span>
								
						</li>
						<li>
								<span>
									<div class="widget-mini-chart align-xs-right">
											<div class="pull-left">
													<div class="sparkline mini-chart" data-type="bar" data-color="warning" data-bar-width="10" data-height="45"><canvas width="87" height="45" style="display: inline-block; width: 87px; height: 45px; vertical-align: top;"></canvas></div>
											</div>
											<p>This week Earnings</p>
											<h4>$11,987</h4>
									</div>
									<!-- //widget-mini-chart -->			
								</span>
						</li>
						<li class="label-lg mm-label">Processing </li>
						<li>
								<span>								
							<p>Server Processing</p>
									<div class="progress progress-dark progress-stripes progress-xs">
											<div class="progress-bar bg-danger" aria-valuetransitiongoal="37" aria-valuenow="37" style="width: 37%;"></div>
									</div>
									<label class="progress-label">Today , CPU 37%</label>
									<!-- //progress-->
									<div class="progress progress-dark progress-xs">
											<div class="progress-bar bg-warning" aria-valuetransitiongoal="23" aria-valuenow="23" style="width: 23%;"></div>
									</div>
									<label class="progress-label lasted">Today , Server load  22.85%</label>
									<!-- //progress-->
								</span>
						</li>
						<li class="label-lg mm-label">Quick Friends Chat </li>
						<li class="img">
								<a href="#" class="online">
										<img alt="" src="assets/photos_preview/50/people/1.jpg"> Olivia
										<small>Taylor</small>
								</a>
						</li>
						<li class="img">
								<a href="#" class="online">
										<img alt="" src="assets/photos_preview/50/people/2.jpg"> Owen
										<small>Wilson</small>
								</a>
						</li>
						<li class="img">
								<a href="#">
										<img alt="" src="assets/photos_preview/50/people/8.jpg"> Meagan
										<small>Miller</small>
								</a>
						</li>
						<li class="img">
								<a href="#" class="busy">
										<img alt="" src="assets/photos_preview/50/people/9.jpg"> Melissa
										<small>Johnson</small>
								</a>
						</li>
						<li class="img">
								<a href="#" class="online">
										<img alt="" src="assets/photos_preview/50/people/5.jpg"> Samantha
										<small>Harris</small>
								</a>
						</li>
						<li class="label-lg mm-label">visitors Real Time</li>
						<li>
								<span>
									<div class="widget-chart">
											<div id="realtimeChart" class="demo-placeholder" style="height: 150px; padding: 0px; position: relative;"><canvas class="flot-base" width="215" height="134" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 240px; height: 150px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller;"><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div class="flot-tick-label tickLabel" style="position: absolute; top: 129px; left: 7px; text-align: right;">0</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 86px; left: 1px; text-align: right;">10</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 44px; left: 1px; text-align: right;">20</div><div class="flot-tick-label tickLabel" style="position: absolute; top: 1px; left: 1px; text-align: right;">30</div></div></div><canvas class="flot-overlay" width="215" height="134" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 240px; height: 150px;"></canvas></div>
											<div id="realtimeChartCount" class="align-lg-center"><span>23</span> visitors on site </div>
									</div><!-- // widget-chart -->
								</span>
						</li>
				<li class="mm-noresults">No results found.</li></ul><ul class="mm-list mm-panel" id="mm-m0-p1"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m0-p0"> Friends</a></li>
										<li class="mm-label">A</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/1.jpg"> Alexa 
														<small>Johnson</small>
												</a>
										</li>
										<li class="img">
												<a href="#" class="busy">
														<img alt="" src="assets/photos_preview/50/people/2.jpg"> Alexander 
														<small>Brown</small>
												</a>
										</li>
										<li class="mm-label">F</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/3.jpg"> Fred
														<small>Smith</small>
												</a>
										</li>
										<li class="mm-label">J</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/4.jpg"> James
														<small>Miller</small>
												</a>
										</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/5.jpg"> Jefferson
														<small>Jackson</small>
												</a>
										</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/6.jpg"> Jordan
														<small>Lee</small>
												</a>
										</li>
										<li class="mm-label">K</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/7.jpg"> Kim
														<small>Adams</small>
												</a>
										</li>
										<li class="mm-label">M</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/8.jpg"> Meagan
														<small>Miller</small>
												</a>
										</li>
										<li class="img">
												<a href="#" class="busy">
														<img alt="" src="assets/photos_preview/50/people/9.jpg"> Melissa
														<small>Johnson</small>
												</a>
										</li>
										<li class="mm-label">N</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/10.jpg"> Nicole
														<small>Smith</small>
												</a>
										</li>
										<li class="mm-label">S</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/1.jpg"> Samantha
														<small>Harris</small>
												</a>
										</li>
										<li class="img">
												<a href="#" class="block">
														<img alt="" src="assets/photos_preview/50/people/2.jpg"> Scott
														<small>Thompson</small>
												</a>
										</li>
								</ul><ul class="mm-list mm-panel" id="mm-m0-p2"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m0-p0"> Family</a></li>
										<li class="mm-label">A</li>
										<li class="img">
												<a href="#" class="busy">
														<img alt="" src="assets/photos_preview/50/people/3.jpg"> Adam
														<small>White</small>
												</a>
										</li>
										<li class="mm-label">B</li>
										<li class="img">
												<a href="#" class="busy">
														<img alt="" src="assets/photos_preview/50/people/4.jpg"> Ben
														<small>Robinson</small>
												</a>
										</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/5.jpg"> Bruce
														<small>Lee</small>
												</a>
										</li>
										<li class="mm-label">E</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/6.jpg"> Eddie
														<small>Williams</small>
												</a>
										</li>
										<li class="mm-label">J</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/7.jpg"> Jack
														<small>Johnson</small>
												</a>
										</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/8.jpg"> John
														<small>Jackman</small>
												</a>
										</li>
										<li class="mm-label">M</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/9.jpg"> Martina
														<small>Thompson</small>
												</a>
										</li>
										<li class="img">
												<a href="#" class="busy">
														<img alt="" src="assets/photos_preview/50/people/10.jpg"> Matthew
														<small>Watson</small>
												</a>
										</li>
										<li class="mm-label">O</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/1.jpg"> Olivia
														<small>Taylor</small>
												</a>
										</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/2.jpg"> Owen
														<small>Wilson</small>
												</a>
										</li>
								</ul><ul class="mm-list mm-panel" id="mm-m0-p3"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m0-p0"> Work colleagues</a></li>
										<li class="mm-label">D</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/3.jpg"> David
														<small>Harris</small>
												</a>
										</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/4.jpg"> Dennis
														<small>King</small>
												</a>
										</li>
										<li class="mm-label">E</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/5.jpg"> Eliza
														<small>Walker</small>
												</a>
										</li>
										<li class="mm-label">L</li>
										<li class="img">
												<a href="#" class="busy">
														<img alt="" src="assets/photos_preview/50/people/6.jpg"> Larry
														<small>Turner</small>
												</a>
										</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/7.jpg"> Lisa<br>
														<small>Wilson</small>
												</a>
										</li>
										<li class="mm-label">M</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/8.jpg"> Michael
														<small>Jordan</small>
												</a>
										</li>
										<li class="mm-label">R</li>
										<li class="img">
												<a href="#">
														<img alt="" src="assets/photos_preview/50/people/9.jpg"> Rachelle
														<small>Cooper</small>
												</a>
										</li>
										<li class="img">
												<a href="#" class="online">
														<img alt="" src="assets/photos_preview/50/people/10.jpg"> Rick
														<small>James</small>
												</a>
										</li>
								</ul><ul class="mm-list mm-panel" id="mm-m0-p4"><li class="mm-subtitle"><a class="mm-subclose" href="#mm-m0-p0"> See This week</a></li>
										<li class="mm-label">themeforest</li>
										<li><span><i class="label label-warning pull-right">HTML</i> Earnings $395 </span></li>
										<li><span> Earnings $485 </span></li>
										<li><span><i class="label label-info pull-right">Wordpress</i> Earnings $1,589 </span></li>
										<li class="mm-label">codecanyon </li>
										<li><span><i class="label label-danger pull-right">Item 6537086</i> Earnings $897</span></li>
										<li><span>Sunday Earnings $395</span></li>
										<li class="mm-label">Other</li>
										<li><span><i class="label label-success  pull-right">up 35%</i> Total Earnings $5,025</span></li>
								</ul></nav>
<div id="wrapper" class="mm-page" style="">
		<!--
		/////////////////////////////////////////////////////////////////////////
		//////////     HEADER  CONTENT     ///////////////
		//////////////////////////////////////////////////////////////////////
		-->
		<div id="header">
		
				<div class="logo-area clearfix">
						<a href="#" class="logo"></a>
				</div>
				<!-- //logo-area-->
				
				<div class="tools-bar">
						<ul class="nav navbar-nav nav-main-xs">
								<li><a  class="icon-toolsbar"><i class="fa fa-bars"></i></a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right tooltip-area">
								<li>
                                                                    
                                                                    <a href="#menu-right" data-toggle="tooltip" title="" data-container="body" data-placement="left" data-original-title="Right Menu">
                                                                        <i class="fa fa-align-right"></i></a></li>
								<li class="hidden-xs hidden-sm"><a href="#" class="h-seperate">Help</a></li>
								<li><button class="btn btn-circle btn-header-search" data-original-title="" title=""><i class="fa fa-search"></i></button></li>
								<li>
								</li>
								<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
											<em><strong>Hi</strong>, Nutprawee </em> <i class="dropdown-icon fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right icon-right arrow">
												<li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
												<li><a href="#"><i class="fa fa-cog"></i> Setting </a></li>
												<li><a href="#"><i class="fa fa-bookmark"></i> Bookmarks</a></li>
												<li><a href="#"><i class="fa fa-money"></i> Make a Deposit</a></li>
												<li class="divider"></li>
												<li><a href="#"><i class="fa fa-sign-out"></i> Signout </a></li>
										</ul>
										<!-- //dropdown-menu-->
								</li>
								<li class="visible-lg">
									<a href="#" class="h-seperate fullscreen" data-toggle="tooltip" title="" data-container="body" data-placement="left" data-original-title="Full Screen">
										<i class="fa fa-expand"></i>
									</a>
								</li>
						</ul>
				</div>
				<!-- //tools-bar-->
				
		</div>
		<!-- //header-->
		
		
		<!--
		/////////////////////////////////////////////////////////////////////////
		//////////     SLIDE LEFT CONTENT     //////////
		//////////////////////////////////////////////////////////////////////
		-->
		<div id="nav" style="-webkit-user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); touch-action: none;">
				
				<!-- //nav-scroller-->
		</div>
		<!-- //nav-->
		
		
		<!--
		/////////////////////////////////////////////////////////////////////////
		//////////     TOP SEARCH CONTENT     ///////
		//////////////////////////////////////////////////////////////////////
		-->
		<div class="widget-top-search">
			<span class="icon"><a href="#" class="close-header-search"><i class="fa fa-times"></i></a></span>
			<form id="top-search">
					<h2><strong>Quick</strong> Search</h2>
					<div class="input-group">
							<input type="text" name="q" placeholder="Find something..." class="form-control">
							<span class="input-group-btn">
							<button class="btn" type="button" title="With Sound"><i class="fa fa-microphone"></i></button>
							<button class="btn" type="button" title="Visual Keyboard"><i class="fa fa-keyboard-o"></i></button>
							<button class="btn" type="button" title="Advance Search"><i class="fa fa-th"></i></button>
							</span>
					</div>
			</form>
		</div>
		<!-- //widget-top-search-->
		
		

		
		<!--
		/////////////////////////////////////////////////////////////////////////
		//////////     MAIN SHOW CONTENT     //////////
		//////////////////////////////////////////////////////////////////////
		-->
		<div id="main">
				<div class="tabbable">
						<ul class="nav nav-tabs" data-provide="tabdrop"><li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-align-right"></i> <span class="badge"></span></a><ul class="dropdown-menu"></ul></li>
								<li><a href="#" class="change" data-change="prev"><i class="fa fa-chevron-left"></i></a></li>
								<li><a href="#" class="change" data-change="next"><i class="fa fa-chevron-right"></i></a></li>
								<li class="active"><a href="#" data-view="month" data-toggle="tab" class="change-view">Month</a></li>
								<li><a href="#" data-view="agendaWeek" data-toggle="tab" class="change-view">Week</a></li>
								<li><a href="#" data-view="agendaDay" data-toggle="tab" class="change-view">Day</a></li>
								<li><a href="#" class="change-today">Today</a></li>
						</ul>
						<div class="tab-content">
								<div class="row">
								
										<div class="col-lg-8">
												<div id="calendar" class="fc fc-ltr"><table class="fc-header" style="width:100%"><tbody><tr><td class="fc-header-left"><span class="fc-header-title"><h2>May 2016</h2></span></td><td class="fc-header-center"></td><td class="fc-header-right"></td></tr></tbody></table><div class="fc-content" style="position: relative;"><div class="fc-view fc-view-month fc-grid" style="position:relative" unselectable="on"><div class="fc-event-container" style="position:absolute;z-index:8;top:0;left:0"><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 3.10764px; border-color: rgb(243, 120, 100); width: 214px; top: 93.1077px; background-color: rgb(243, 120, 100);"><div class="fc-event-inner"><span class="fc-event-title">All Day Event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 333.108px; border-color: rgb(27, 198, 176); width: 446px; top: 93.1077px; background-color: rgb(27, 198, 176);"><div class="fc-event-inner"><span class="fc-event-title">Long Event</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 663.108px; border-color: rgb(122, 206, 48); width: 116px; top: 181.997px; background-color: rgb(122, 206, 48);"><div class="fc-event-inner"><span class="fc-event-time">10:30a</span><span class="fc-event-title">Meeting</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 113.108px; border-color: rgb(255, 204, 51); width: 214px; top: 181.997px; background-color: rgb(255, 204, 51);"><div class="fc-event-inner"><span class="fc-event-time">7p</span><span class="fc-event-title">Birthday Party</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div><div class="fc-event fc-event-hori fc-event-draggable fc-event-start fc-event-end" style="position: absolute; left: 663.108px; border-color: rgb(98, 112, 125); width: 116px; top: 205.997px; background-color: rgb(98, 112, 125);"><div class="fc-event-inner"><span class="fc-event-time">12:15p</span><span class="fc-event-title">Lunch</span></div><div class="ui-resizable-handle ui-resizable-e">&nbsp;&nbsp;&nbsp;</div></div></div><table class="fc-border-separate" style="width:100%" cellspacing="0"><thead><tr class="fc-first fc-last"><th class="fc-day-header fc-sun fc-widget-header fc-first" style="width: 111px;">Sunday</th><th class="fc-day-header fc-mon fc-widget-header" style="width: 111px;">Monday</th><th class="fc-day-header fc-tue fc-widget-header" style="width: 111px;">Tuesday</th><th class="fc-day-header fc-wed fc-widget-header" style="width: 111px;">Wednesday</th><th class="fc-day-header fc-thu fc-widget-header" style="width: 111px;">Thursday</th><th class="fc-day-header fc-fri fc-widget-header" style="width: 111px;">Friday</th><th class="fc-day-header fc-sat fc-widget-header fc-last">Saturday</th></tr></thead><tbody><tr class="fc-week fc-first"><td class="fc-day fc-sun fc-widget-content fc-past fc-first" data-date="2016-05-01"><div style="min-height: 88px;"><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position: relative; height: 24px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-past" data-date="2016-05-02"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position: relative; height: 24px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-past" data-date="2016-05-03"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position: relative; height: 24px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-past" data-date="2016-05-04"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position: relative; height: 24px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-past" data-date="2016-05-05"><div><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position: relative; height: 24px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-past" data-date="2016-05-06"><div><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position: relative; height: 24px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-past fc-last" data-date="2016-05-07"><div><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position: relative; height: 24px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td class="fc-day fc-sun fc-widget-content fc-past fc-first" data-date="2016-05-08"><div style="min-height: 86.8889px;"><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position: relative; height: 48px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-past" data-date="2016-05-09"><div><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position: relative; height: 48px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-past" data-date="2016-05-10"><div><div class="fc-day-number">10</div><div class="fc-day-content"><div style="position: relative; height: 48px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-past" data-date="2016-05-11"><div><div class="fc-day-number">11</div><div class="fc-day-content"><div style="position: relative; height: 48px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-past" data-date="2016-05-12"><div><div class="fc-day-number">12</div><div class="fc-day-content"><div style="position: relative; height: 48px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-past" data-date="2016-05-13"><div><div class="fc-day-number">13</div><div class="fc-day-content"><div style="position: relative; height: 48px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-today fc-state-highlight fc-last" data-date="2016-05-14"><div><div class="fc-day-number">14</div><div class="fc-day-content"><div style="position: relative; height: 48px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td class="fc-day fc-sun fc-widget-content fc-future fc-first" data-date="2016-05-15"><div style="min-height: 86.8889px;"><div class="fc-day-number">15</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-future" data-date="2016-05-16"><div><div class="fc-day-number">16</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-future" data-date="2016-05-17"><div><div class="fc-day-number">17</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-future" data-date="2016-05-18"><div><div class="fc-day-number">18</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-future" data-date="2016-05-19"><div><div class="fc-day-number">19</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-future" data-date="2016-05-20"><div><div class="fc-day-number">20</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-future fc-last" data-date="2016-05-21"><div><div class="fc-day-number">21</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td class="fc-day fc-sun fc-widget-content fc-future fc-first" data-date="2016-05-22"><div style="min-height: 86.8889px;"><div class="fc-day-number">22</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-future" data-date="2016-05-23"><div><div class="fc-day-number">23</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-future" data-date="2016-05-24"><div><div class="fc-day-number">24</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-future" data-date="2016-05-25"><div><div class="fc-day-number">25</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-future" data-date="2016-05-26"><div><div class="fc-day-number">26</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-future" data-date="2016-05-27"><div><div class="fc-day-number">27</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-future fc-last" data-date="2016-05-28"><div><div class="fc-day-number">28</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr><tr class="fc-week"><td class="fc-day fc-sun fc-widget-content fc-future fc-first" data-date="2016-05-29"><div style="min-height: 86.8889px;"><div class="fc-day-number">29</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-future" data-date="2016-05-30"><div><div class="fc-day-number">30</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-future" data-date="2016-05-31"><div><div class="fc-day-number">31</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-other-month fc-future" data-date="2016-06-01"><div><div class="fc-day-number">1</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-other-month fc-future" data-date="2016-06-02"><div><div class="fc-day-number">2</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-other-month fc-future" data-date="2016-06-03"><div><div class="fc-day-number">3</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-other-month fc-future fc-last" data-date="2016-06-04"><div><div class="fc-day-number">4</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr><tr class="fc-week fc-last"><td class="fc-day fc-sun fc-widget-content fc-other-month fc-future fc-first" data-date="2016-06-05"><div style="min-height: 89.7778px;"><div class="fc-day-number">5</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-mon fc-widget-content fc-other-month fc-future" data-date="2016-06-06"><div><div class="fc-day-number">6</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-tue fc-widget-content fc-other-month fc-future" data-date="2016-06-07"><div><div class="fc-day-number">7</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-wed fc-widget-content fc-other-month fc-future" data-date="2016-06-08"><div><div class="fc-day-number">8</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-thu fc-widget-content fc-other-month fc-future" data-date="2016-06-09"><div><div class="fc-day-number">9</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-fri fc-widget-content fc-other-month fc-future" data-date="2016-06-10"><div><div class="fc-day-number">10</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td><td class="fc-day fc-sat fc-widget-content fc-other-month fc-future fc-last" data-date="2016-06-11"><div><div class="fc-day-number">11</div><div class="fc-day-content"><div style="position: relative; height: 0px;">&nbsp;</div></div></div></td></tr></tbody></table></div></div></div>
										</div>
										<!-- //content > row > col-lg-8 -->
										
										<div class="col-lg-4">
												<div id="external-events">
														<h3><strong>EVENTS</strong> Draggable </h3>
														<hr>
														<span class="external-event label bg-warning ui-draggable" style="position: relative;">Recognition dinners</span>
														<span class="external-event label bg-theme ui-draggable" style="position: relative;">Book discussions</span>
														<span class="external-event label bg-inverse ui-draggable" style="position: relative;">Fashion shows</span>
														<span class="external-event label bg-info ui-draggable" style="position: relative;">Exhibitions and fairs</span>
														<span class="external-event label bg-theme-inverse ui-draggable" style="position: relative;">Historic building tours</span>
														<span class="external-event label bg-primary ui-draggable" style="position: relative;">Dances</span>
														<span class="external-event label bg-purple ui-draggable" style="position: relative;">Fashion shows</span>
														<span class="external-event label bg-green ui-draggable" style="position: relative;">Exhibitions and fairs</span>
														<span class="external-event label bg-palevioletred ui-draggable" style="position: relative;">Guided walks</span>
												</div>
												<hr>
														<a class="btn btn-inverse" data-toggle="modal" href="#md-add-event"><i class="fa fa-plus"></i></a>
														<button class="btn btn-inverse slide-trash"><i class="fa fa-trash-o"></i></button>
										</div>
										<!-- //content > row > col-lg-4 -->
										
								</div>
								<!-- //content > row-->
						</div>
						<!-- //tab-content -->
				</div>
				<!-- //tabbable -->
				

		</div>
		<!-- //main-->
		
								<div id="slide-trash" class="ui-droppable">
									<section><i class=" fa fa-trash-o"></i><span>Drop here to detele</span></section>
								</div>
								
		<!--
		///////////////////////////////////////////////////////////////////
		//////////     MODAL MESSAGES     //////////
		///////////////////////////////////////////////////////////////
		-->
		<div id="md-add-event" class="modal fade md-slideUp" tabindex="-1" data-width="450" data-header-color="inverse">
				<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
						<h4 class="modal-title"><i class="fa fa-plus"></i> Add new events</h4>
				</div>
				<!-- //modal-header-->
				<div class="modal-body" style="padding-bottom:0">
						<form id="addEvent">
								<div class="form-group">
										<label class="control-label">Event title </label>
										<input type="text" class="form-control" id="event_title" name="event_title">
								</div>
								<div class="form-group">
										<label class="control-label">Color</label>
										<div class="input-group input-icon"><i class="fa fa-dot-circle-o ico"></i>
												<input type="text" class="form-control" id="color_select" name="color_select">
												<span class="input-group-btn">
													<div class="btn-group">
															<button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
																<i class="fa fa-fire"></i>
															</button>
															<ul class="dropdown-menu pull-right" role="menu" style="padding:0; border:0;">
																	<li>
																			<div id="colorpalette_events" data-return-color="#color_select" class="bootstrap-colorpalette"><div><a href="javascript:void(0)" class="btn-color" style="background-color:#0090d9" data-value="#0090d9" title="#0090d9"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#B5D1D8" data-value="#B5D1D8" title="#B5D1D8"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#2ECC71" data-value="#2ECC71" title="#2ECC71"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#FFCC33" data-value="#FFCC33" title="#FFCC33"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#E15258" data-value="#E15258" title="#E15258"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#62707D" data-value="#62707D" title="#62707D"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#f35958" data-value="#f35958" title="#f35958"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#0aa699" data-value="#0aa699" title="#0aa699"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#372b32" data-value="#372b32" title="#372b32"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#99CC00" data-value="#99CC00" title="#99CC00"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#1ABC9B" data-value="#1ABC9B" title="#1ABC9B"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#736086" data-value="#736086" title="#736086"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#f9ba46" data-value="#f9ba46" title="#f9ba46"></a><a href="javascript:void(0)" class="btn-color" style="background-color:#d13a7a" data-value="#d13a7a" title="#d13a7a"></a></div></div>
																	</li>
															</ul>
													</div><!-- //btn-group-->
												</span> <!-- //input-group-btn-->
										</div><!-- //input-group-->
								</div>
								<div class="form-group">
										<hr>
										<button type="submit" class="btn btn-theme">Submit Event</button>
										<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
								</div>
						</form>
				</div>
				<!-- //modal-body-->
		</div>
		<!-- //modal-->


		<!--
		///////////////////////////////////////////////////////////////////
		//////////     MODAL MESSAGES     //////////
		///////////////////////////////////////////////////////////////
		-->
		<div id="md-messages" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="450">
				<div class="modal-header bd-theme-inverse-darken">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
						<h4 class="modal-title"><i class="fa fa-inbox"></i> Inbox messages</h4>
				</div>
				<!-- //modal-header-->
				<div class="modal-body" style="padding:0">
						<div class="widget-im">
								<ul>
										<li>
												<section class="thumbnail-in">
														<div class="widget-im-tools tooltip-area pull-right">
																<span>
																		<i class="fa fa-paperclip"></i>
																</span>
																<span>
																		<i class="fa fa-reply-all"></i>
																</span>
																<span>
																		<a href="javascript:void(0)" class="im-delete" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
																</span>
																<span>
																		<time datetime="2013-11-16">1 : 52 am</time>
																</span>
														</div>
														<h4><a href="javascript:void(0)">Edlado Holder</a>
														</h4>
														<div class="im-thumbnail"><img alt="" src="assets/img/avatar2.png"></div>
														<label></label>
														<div class="pre-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
												</section>
												<div class="im-confirm-group">
														<div class=" btn-group btn-group-justified">
																<a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="yes">YES.</a>
																<a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">NO.</a>
														</div>
												</div>
										</li>
										<li>
												<section class="thumbnail-in">
														<div class="widget-im-tools tooltip-area pull-right">
																<span>
																		<i class="fa fa-paperclip"></i>
																</span>
																<span>
																		<a href="javascript:void(0)" class="im-delete" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
																</span>
																<span>
																		<time datetime="2013-11-16">12 : 00 pm</time>
																</span>
														</div>
														<h4><a href="javascript:void(0)">Laine Franchi</a>
														</h4>
														<div class="im-thumbnail"><i class="glyphicon glyphicon-user"></i></div>
														<div class="pre-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
												</section>
												<div class="im-confirm-group">
														<div class=" btn-group btn-group-justified">
																<a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="yes">YES.</a>
																<a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">NO.</a>
														</div>
												</div>
										</li>
										<li>
												<section class="thumbnail-in">
														<div class="widget-im-tools tooltip-area pull-right">
																<span>
																		<a href="javascript:void(0)" class="im-delete" data-toggle="tooltip" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
																</span>
																<span>
																		<time datetime="2013-11-16">4 : 45 pm</time>
																</span>
														</div>
														<h4><a href="javascript:void(0)">Cinda Collar</a>
														</h4>
														<div class="im-thumbnail"><img alt="" src="assets/img/avatar.png"></div>
														<label data-color="theme"></label>
														<div class="pre-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
												</section>
												<div class="im-confirm-group">
														<div class=" btn-group btn-group-justified">
																<a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="yes">YES.</a>
																<a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">NO.</a>
														</div>
												</div>
										</li>
								</ul>
								<button class="btn btn-inverse btn-block btn-lg" title="See More"><i class="fa fa-plus"></i></button>
						</div>
						<!-- //widget-im-->
				</div>
				<!-- //modal-body-->
		</div>
		<!-- //modal-->
		
		
		
		<!--
		//////////////////////////////////////////////////////////////////////////
		//////////     MODAL NOTIFICATION     //////////
		//////////////////////////////////////////////////////////////////////
		-->
		<div id="md-notification" class="modal fade md-stickTop bg-danger" tabindex="-1" data-width="500">
				<div class="modal-header bd-danger-darken">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
						<h4 class="modal-title"><i class="fa fa-bell-o"></i> Notification</h4>
				</div>
				<!-- //modal-header-->
				<div class="modal-body" style="padding:0">
						<div class="widget-im notification">
								<ul>
										<li>
												<section class="thumbnail-in">
														<div class="widget-im-tools tooltip-area pull-right">
																<span>
																		<time class="timeago lasted" datetime="2016-05-14T21:12:44Z" title="when you opened the page">about a minute ago</time>
																</span>
																<span>
																		<a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="" data-original-title="Action"><i class="fa fa-keyboard-o"></i></a>
																</span>
														</div>
														<h4>Your request approved</h4>
														<div class="im-thumbnail bg-theme-inverse"><i class="fa fa-check"></i></div>
														<div class="pre-text">One Button (click to remove this)</div>
												</section>
												<div class="im-confirm-group">
														<div class=" btn-group btn-group-justified">
																<a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="accept">Accept.</a>
														</div>
												</div>
										</li>
										<li>
												<section class="thumbnail-in">
														<div class="widget-im-tools tooltip-area pull-right">
																<span>
																		<time class="timeago" datetime="2013-11-17T14:24:17Z" title="timeago">2 years ago</time>
																</span>
																<span>
																		<a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="" data-original-title="Action"><i class="fa fa-keyboard-o"></i></a>
																</span>
														</div>
														<h4>Dashboard new design!! you want to see now ? </h4>
														<div class="im-thumbnail bg-theme"><i class="fa fa-bell-o"></i></div>
														<div class="pre-text">Two Button (with link and click to close this) Lorem ipsum dolor sit amet, consectetur adipisicing elit, </div>
												</section>
												<div class="im-confirm-group">
														<div class=" btn-group btn-group-justified">
																<a class="btn btn-inverse" href="dashboard.html">Go Now.</a>
																<a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">Later.</a>
														</div>
												</div>
										</li>
										<li>
												<section class="thumbnail-in">
														<div class="widget-im-tools tooltip-area pull-right">
																<span>
																		<time class="timeago" datetime="2013-11-17T01:24:17Z" title="timeago">2 years ago</time>
																</span>
																<span>
																		<a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="" data-original-title="Action"><i class="fa fa-keyboard-o"></i></a>
																</span>
														</div>
														<h4>Error 404 <small>( File not  found )</small></h4>
														<div class="im-thumbnail bg-warning"><i class="fa fa-exclamation-triangle"></i></div>
														<div class="pre-text">Two Button (click to  action and remove) </div>
												</section>
												<div class="im-confirm-group">
														<div class=" btn-group btn-group-justified">
																<a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="accept">Accept.</a>
																<a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="actionNow">Fixed now.</a>
														</div>
												</div>
										</li>
										<li>
												<section class="thumbnail-in">
														<div class="widget-im-tools tooltip-area pull-right">
																<span>
																		<time class="timeago" datetime="2013-09-17T09:24:17Z" title="timeago">3 years ago</time>
																</span>
																<span>
																		<a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="" data-original-title="Action"><i class="fa fa-keyboard-o"></i></a>
																</span>
														</div>
														<h4>Upgrade Premium ?</h4>
														<div class="im-thumbnail bg-inverse">
																<i class="fa fa-cogs"></i></div>
														<div class="pre-text"> Three button (test action) </div>
												</section>
												<div class="im-confirm-group">
														<div class=" btn-group btn-group-justified">
																<a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="actionNow">Now.</a>
																<a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">Later.</a>
																<a class="btn btn-danger im-confirm" href="javascript:void(0)" data-confirm="yes">Delete.</a>
														</div>
												</div>
										</li>
								</ul>
						</div>
						<!-- //widget-im-->
				</div>
				<!-- //modal-body-->
		</div>
		<!-- //modal-->
		
		
		
		<!--
		//////////////////////////////////////////////////////////////
		//////////     LEFT NAV MENU     //////////
		///////////////////////////////////////////////////////////
		-->
		
		<!-- //nav left menu-->
		
		
		
		<!--
		/////////////////////////////////////////////////////////////////
		//////////     RIGHT NAV MENU     //////////
		/////////////////////////////////////////////////////////////
		-->
		
		<!-- //nav right menu-->
		
		
</div>
<!-- //wrapper-->


<!--
////////////////////////////////////////////////////////////////////////
//////////     JAVASCRIPT  LIBRARY     //////////
/////////////////////////////////////////////////////////////////////
-->
		
<!-- Jquery Library -->
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.ui.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/bootstrap.min.js"></script>
<!-- Modernizr Library For HTML5 And CSS3 -->
<script type="text/javascript" src="assets/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="assets/plugins/mmenu/jquery.mmenu.js"></script>
<script type="text/javascript" src="assets/js/styleswitch.js"></script>
<!-- Library 10+ Form plugins-->
<script type="text/javascript" src="assets/plugins/form/form.js"></script>
<!-- Datetime plugins -->
<script type="text/javascript" src="assets/plugins/datetime/datetime.js"></script>
<!-- Library Chart-->
<script type="text/javascript" src="assets/plugins/chart/chart.js"></script>

<script src="assets/plugins/fullcalendar/fullcalendar.js"></script>
<link href="assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
<!-- Library  5+ plugins for bootstrap -->
<script type="text/javascript" src="assets/plugins/pluginsForBS/pluginsForBS.js"></script>
<!-- Library 10+ miscellaneous plugins -->
<script type="text/javascript" src="assets/plugins/miscellaneous/miscellaneous.js"></script>
<!-- Library Themes Customize-->
<script type="text/javascript" src="assets/js/caplet.custom.js"></script>
<script>
	$(document).ready(function() {	

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();

		$("#addEvent").submit(function(event){
			event.preventDefault();
			if($("#event_title").val()){
				var events=$('<span class="external-event  label" data-color="'+$("#color_select").val()+'">'+$("#event_title").val() +'</span>');
				events.css({'background-color': $("#color_select").val() || "#CCC" , 'margin-right': "3px"});
				$("#external-events").append(events);
				$("#external-events span.external-event").draggable({
					zIndex: 999,
					revert: true,     
					revertDuration: 0 ,
					drag: function() { $("#slide-trash").addClass("active") },
					stop: function() { $("#slide-trash").removeClass("active") }
				});
				$(this)[0].reset();
				$('#md-add-event').modal('hide');
			}else{
				$.notific8('Please enter <strong>event  title</strong> ',{ life:5000, theme:"danger" ,heading:"ERROR :);" });
				$("#event_title").focus();
			}
		});
		$('#external-events span.external-event').draggable({
				zIndex: 999,
				revert: true,     
				revertDuration: 0 ,
				drag: function() { $("#slide-trash").addClass("active") },
				stop: function() { $("#slide-trash").removeClass("active") }
		});
		
	    $( "#slide-trash" ).droppable({
		 accept: "#external-events span.external-event , .fc-event",
		 hoverClass: "active-hover",
		 drop: function( event, ui ) {
			 ui.draggable.remove();
			 $(this).removeClass( "active" );
		 }
	    });
		var isElemOverDiv = function(draggedItem, dropArea) {
			// Prep coords for our two elements
			var a = $(draggedItem).offset;	
			a.right = $(draggedItem).outerWidth + a.left;
			a.bottom = $(draggedItem).outerHeight + a.top;
			
			var b = $(dropArea).offset;
			a.right = $(dropArea).outerWidth + b.left;
			a.bottom = $(dropArea).outerHeight + b.top;
		
			// Compare
			if (a.left >= b.left
				&& a.top >= b.top
				&& a.right <= b.right
				&& a.bottom <= b.bottom) { return true; }
			return false;
		}
		$('#calendar').fullCalendar({
/*			    eventClick: function(calEvent, jsEvent, view) {
			
				  alert('Event: ' + calEvent._id);
				  alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
				  alert('View: ' + view.name);
				$(this).fullCalendar('removeEvents',calEvent._id);
				  // change the border color just for fun
				//  $(this).css('border-color', 'red');
			
			    },*/
			eventDragStop: function(event, jsEvent, ui, view) {			
				var x = isElemOverDiv(ui, $('#slide-trash'));
				alert(x);			
				if (x) {
					alert("delete");
					$('#calendar').fullCalendar('removeEvents', event.id);
				}			
			},
			header: {
				left: 'title',
				center: '',
				right: ''
			},
			editable: true,
			droppable: true, 
			events: [
				{
					title: 'All Day Event',
					start: new Date(y, m, 1),
					end: new Date(y, m, 2),
					color:"#f37864"
				},
				{
					title: 'Long Event',
					start: new Date(y, m, d-10),
					end: new Date(y, m, d-7),
					color:"#1bc6b0"
				},
				{
					title: 'Meeting',
					start: new Date(y, m, d, 10, 30),
					allDay: false,
					color:"#7ace30"
				},
				{
					title: 'Birthday Party',
					start: new Date(y, m, d-5, 19, 0),
					end: new Date(y, m, d-4, 22, 30),
					allDay: false,
					color:"#ffcc33"
				},
				{
					title: 'Lunch',
					start: new Date(y, m, d, 12, 15),
					end: new Date(y, m, d, 14, 0),
					allDay: false,
					color:"#62707d"
				}
			],
			drop: function(date, allDay) { 
                        var  copiedEventObject = {
                                title: $(this).text(),
                                start: date,
                                allDay: allDay,
                                color: $(this).css('background-color')
                            };
				$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
				$(this).remove();
			}
		});
		$(".change-view").click(function(){
			 var data=$(this).data();
			$('#calendar').fullCalendar( 'changeView', data.view ); 
		});
		$(".change-today").click(function(){
			$('#calendar').fullCalendar( 'today' );
		});
		$(".change").click(function(){
			  var data=$(this).data();
			$('#calendar').fullCalendar( data.change );
		});
		
	});

</script>

<div id="mm-blocker"></div><div class="toggle-menu"></div><div id="flotTip" style="display: none; position: absolute; z-index: 100; white-space: nowrap;"></div></body>
</html>