<!DOCTYPE html>
<html>
    <head>
       <!-- Meta information -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<!-- Title-->
<title>PiDEV  |  E-GOV</title>
<!-- Favicons -->

<link rel="shortcut icon" href="{{asset('ico/favicon.ico')}}">
<!-- CSS Stylesheet-->
<link type="text/css" rel="stylesheet" href="{{asset('css/bootstrap/bootstrap.min1.css')}}" />
<link type="text/css" rel="stylesheet" href="{{asset('css/bootstrap/bootstrap-themes1.css')}}" />
<link type="text/css" rel="stylesheet" href="{{asset('css/style1.css')}}" />

<!-- Styleswitch if  you don't chang theme , you can delete -->
<link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="{{asset('css/styleTheme11.css')}}" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="{{asset('css/styleTheme12.css')}}" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="{{asset('css/styleTheme13.css')}}" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="{{asset('css/styleTheme14.css')}}" />
	
    </head>
<body class="full-lg">          
  <!--
////////////////////////////////////////////////////////////////////////
//////////     JAVASCRIPT  LIBRARY     //////////
/////////////////////////////////////////////////////////////////////
-->
		
<!-- Jquery Library -->
<script type="text/javascript" src="{{asset('js/jquery.min1.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jquery.ui.min1.js')}}"></script>
<script type="text/javascript" src="{{asset('plugins/bootstrap/bootstrap.min1.js')}}"></script>
<!-- Modernizr Library For HTML5 And CSS3 -->
<script type="text/javascript" src="{{asset('js/modernizr/modernizr1.js')}}"></script>
<script type="text/javascript" src="{{asset('plugins/mmenu/jquery.mmenu1.js')}}"></script>
<script type="text/javascript" src="{{asset('js/styleswitch1.js')}}"></script>
<!-- Library 10+ Form plugins-->
<script type="text/javascript" src="{{asset('plugins/form/form1.js')}}"></script>
<!-- Datetime plugins -->
<script type="text/javascript" src="{{asset('plugins/datetime/datetime1.js')}}"></script>
<!-- Library Chart-->
<script type="text/javascript" src="{{asset('plugins/chart/chart1.js')}}"></script>
<!-- Library  5+ plugins for bootstrap -->
<script type="text/javascript" src="{{asset('plugins/pluginsForBS/pluginsForBS1.js')}}"></script>
<!-- Library 10+ miscellaneous plugins -->
<script type="text/javascript" src="{{asset('plugins/miscellaneous/miscellaneous1.js')}}"></script>
<!-- Library Themes Customize-->
<script type="text/javascript" src="{{asset('js/caplet.custom1.js')}}"></script>
<script type="text/javascript">
$(function() {
		   //Login animation to center 
			function toCenter(){
					var mainH=$("#main").outerHeight();
					var accountH=$(".account-wall").outerHeight();
					var marginT=(mainH-accountH)/2;
						   if(marginT>30){
							   $(".account-wall").css("margin-top",marginT-15);
							}else{
								$(".account-wall").css("margin-top",30);
							}
				}
				toCenter();
				var toResize;
				$(window).resize(function(e) {
					clearTimeout(toResize);
					toResize = setTimeout(toCenter(), 500);
				});
				
			//Canvas Loading
			  var throbber = new Throbber({  size: 32, padding: 17,  strokewidth: 2.8,  lines: 12, rotationspeed: 0, fps: 15 });
			  throbber.appendTo(document.getElementById('canvas_loading'));
			  throbber.start();
			  
			//Set note alert
			setTimeout(function () { 
				$.notific8('Hi Guest , you can use Username : <strong>demo</strong> and Password: <strong>demo</strong> to  access account.',{ sticky:true, horizontalEdge:"top", theme:"inverse" ,heading:"LOGIN DEMO"}) 
				}, 1000);
	
			
			$("#form-signin").submit(function(event){
					event.preventDefault();
					var main=$("#main");
					//scroll to top
					main.animate({
						scrollTop: 0
					}, 500);
					main.addClass("slideDown");		
					
					// send username and password to php check login
					$.ajax({
						url: "data/checklogin.php", data: $(this).serialize(), type: "POST", dataType: 'json',
						success: function (e) {
								setTimeout(function () { main.removeClass("slideDown") }, !e.status ? 500:3000);
								 if (!e.status) { 
									 $.notific8('Check Username or Password again !! ',{ life:5000,horizontalEdge:"bottom", theme:"danger" ,heading:" ERROR :); "});
									return false;
								 }
								 setTimeout(function () { $("#loading-top span").text("Yes, account is access...") }, 500);
								 setTimeout(function () { $("#loading-top span").text("Redirect to account page...")  }, 1500);
								 setTimeout( "window.location.href='dashboard.html'", 3100 );
						}
					});	
			
			});
	});
</script>


        <div>
            {% block formulaire %}
            {% endblock formulaire %}
        </div>
    </body>
</html>
